/* .card {    
  height: auto;
  width: 25rem;
  flex-direction: row;
  display: flex;
  margin: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7235c2;
  color: white;
}

.email {
  color: white;
}

.card-text {
  display: inline-block;
} */

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 2em;
    max-width: 80%;
    min-width: 100px;
    min-height: 200px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
  }
  
  label {
    margin-bottom: 0.5em;
    color: #444;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  
  button {
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: #121242;
    color: #fefefe;
  }